
@use 'abstracts/mixins';
@use 'abstracts/variables';

// @use 'base/animations';
@use 'base/base';
@use 'base/typography';
@use 'base/utilities';
@use 'base/reset';

@use 'components/buttons';
@use 'components/card-project';
@use 'components/form';
@use 'components/popup';

@use 'layout/footer';
@use 'layout/header';
@use 'layout/grid';
@use 'layout/mobile-nav';
@use 'layout/navigation';

@use 'pages/home';
@use 'pages/kontakt';