<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Baumans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <title>{{ title }}</title>
</head>
<body>

    <!--Header-->

    <header class="header">
        <img class="logo" src="/icons/logo.svg" alt="logo">

        <!--Mobile-nav-->

        <div class="mobile-nav">
            <input class="mobile-nav__checkbox" type="checkbox" id="mobile-nav-toggle">
            <label class="mobile-nav__button" for="mobile-nav-toggle"><img class="mobile-nav__icon" src="/icons/icon-nav.svg" alt="navigace"></label>

            <a class="mobile-nav__icon-close" href="/"><img src="/icons/icon-close.svg" alt="ikona zavřít"></a>

            <nav class="mobile-nav__nav">
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item"><a class="mobile-nav__link" href="/">Home</a></li>
                    <li class="mobile-nav__item"><a class="mobile-nav__link" href="#">Rozcestník</a></li>
                    <li class="mobile-nav__item"><a class="mobile-nav__link" href="#">Záznam cesty</a></li>
                    <li class="mobile-nav__item"><a class="mobile-nav__link" href="/kontakt/">Kontakt</a></li>
                </ul>
            </nav>
        </div>

        <!--Navigation-->

        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a class="navigation__link" href="/">Home</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Rozcestník</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Záznam cesty</a></li>
                <li class="navigation__item"><a class="navigation__link" href="/kontakt/">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <!--Main-->

    <main>


        {{ content | safe }}

    
    </main>


    <!--Footer-->

    <footer class="footer u-wrapper u-padding-top-medium u-padding-bottom-medium">
        <div class="contacts u-center-text">
            <a class="contacts__link" href="https://www.linkedin.com/in/tereza-smolovaa/"><img class="contacts__icon" src="/icons/entypo-social_linkedin-with-circle.svg" alt="ikona LinkedIn"></a>
            <a class="contacts__link" href="https://github.com/TerkaSm"><img class="contacts__icon" src="/icons/bi_github.svg" alt="ikona GitHub"></a>
            <a class="contacts__link" href="#popup"><img class="contacts__icon" src="/icons/el_envelope-alt.svg" alt="ikona Email"></a>
        </div>
    </footer>

    <!--Popup with form for footer contact-->

    <div class="popup" id="popup">
        <div class="popup__content">
            <form class="form" method="post" action="">
                <h3 class="heading-tertiary">Neváhejte napsat</h3>
                <div class="form__group">
                    <label class="form__label" for="name">Jméno a příjmení</label>
                    <input class="form__input" type="text" id="name" required>
                </div>
        
                <div class="form__group">
                    <label class="form__label" for="email">Email</label>
                    <input class="form__input" type="email" id="email" required>
                </div>
                <div class="form__group">
                    <label class="form__label" for="text">Text</label>
                    <textarea class="form__textarea" name="text" id="text" rows="5"></textarea>
                </div>
                <button class="btn btn--dark">Odeslat</button>
            </form>
            <a class="popup__icon-close" href="/"><img src="/icons/icon-close.svg" alt="ikona zavření"></a>
        </div>
    </div>

</body>
</html>