@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


//HERO

.section-hero {
    background-color: v.$color-primary;
    color: v.$color-background;
    padding: v.$spacer;
    // height: 90vh;
    min-height: 70vh;
    // max-height: 700px;
    display: flex;
    flex-direction: column;

    &__wrapp-img {
        display: block;
        flex: 2;
        padding: v.$spacer;
    }

    &__img {
        display: block;
        // width: 30vw;
        // min-width: 140px;
        // max-width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        border: 3px solid v.$color-background;
        margin: 0 auto 60px auto;
        text-align: center;

        @include mx.media-min(750px) {
            margin-top: 60px;
        }
    }

    &__content {
        flex: 3;
    }

    @include mx.media-min(750px) {
        flex-direction: row;
        gap: v.$spacer-double;
    }
}


//PROJECTS

.section-projects {
    padding: v.$spacer;
    margin: 0 auto;
}

// SKILLS

.section-skills {
    padding: v.$spacer;
    margin: 0 auto;

    &__flex {
        margin: 0 auto;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        gap: v.$spacer-double;
        justify-content: space-between;

        @include mx.media-min(850px) {
            flex-direction: row;
        }
    }


    &__icons {
        display: grid;
        grid-template-columns: 62px 62px 62px;
        gap: v.$spacer;
        justify-content: center;


        @include mx.media-min(600px) {
            grid-template-columns: 62px 62px 62px 62px;
        }
    }

    &__icon {

        &:hover {
            transform: scale(1.1);
        }
    }
}



// TOOLS

.section-tools {
    padding: v.$spacer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: v.$spacer-double;


    &__col-1-of-2 {
        flex: 60%;
    }

    &__content {
        color: v.$color-primary;
        font-weight: 700;
    }

    &__wrapp-img {
        flex: 40%;
    }

    &__img {
        max-width: 100%;
        height: auto;
        padding: v.$spacer;
    }

    @include mx.media-min(750px) {
        flex-direction: row;
    }
}
