@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


.section-recording-yourney {
    padding: v.$spacer;
}

.section-infographics {
    padding: v.$spacer;
}

.infographics {
    border-left: 3px solid v.$color-background;
    margin-left: clamp(v.$spacer, 5vw, v.$spacer-double);
    font-family: v.$font-special-2;
    font-size: 1.4rem;

    &__point {
        position: relative;
        padding: v.$spacer;
        margin: 0 auto;

        @include mx.media-min(650px) {
            display: grid;
            grid-template-columns: 8.3rem 23rem;
            justify-content: start;
        }
    }

    &__icon-ellipse {
        position: absolute;
        top: 20px;
        left: 0;
        margin-left: -17px;
        z-index: 1000;
        min-width: 22px;
        max-width: 30px;
    }

    &__year {
        margin: 0 0 8px v.$spacer;
    }

    &__label {
        margin: 0 0 8px v.$spacer;
    }

    &__colored-part {
        color: v.$color-secondary;
    }

    &__small-part {
        margin: 0 0 8px v.$spacer;
        font-size: 1.1rem;
        grid-column: 2 / 3;
    }
}

.section-diary {
    padding: v.$spacer;
    display: none;             // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    
    &__article {
        border-top: 2px solid v.$color-secondary;
    }
}