    <!--Footer-->

    <footer class="footer u-wrapper">
        <div class="contacts u-center-text">
            <a class="contacts__link" href="https://www.linkedin.com/in/tereza-smolovaa/"><img class="contacts__icon" src="/icons/entypo-social_linkedin-with-circle.svg" alt="ikona LinkedIn"></a>
            <a class="contacts__link" href="https://github.com/TerkaSm"><img class="contacts__icon" src="/icons/bi_github.svg" alt="ikona GitHub"></a>
            <a class="contacts__link" href="#popup"><img class="contacts__icon" src="/icons/el_envelope-alt.svg" alt="ikona Email"></a>
        </div>
    </footer>