<!--Header-->

<header class="header">
    <a href="/"><img class="logo" src="/icons/logo.svg" alt="logo"></a>

    <!--Mobile-nav-->

    <div class="mobile-nav">
        <input class="mobile-nav__checkbox" type="checkbox" id="mobile-nav-toggle">
        <label class="mobile-nav__button" for="mobile-nav-toggle"><img class="mobile-nav__icon" src="/icons/icon-nav.svg" alt="navigace"></label>

        <a class="mobile-nav__icon-close" href="/"><img src="/icons/icon-close.svg" alt="ikona zavřít"></a>

        <nav class="mobile-nav__nav">
            <ul class="mobile-nav__list">
                <li class="mobile-nav__item"><a class="mobile-nav__link" href="/">Home</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link" href="/rozcestnik/">Rozcestník</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link" href="/zaznam-cesty/">Záznam cesty</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link" href="/kontakt/">Kontakt</a></li>
            </ul>
        </nav>
    </div>

    <!--Navigation-->

    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item"><a class="navigation__link" href="/">Home</a></li>
            <li class="navigation__item"><a class="navigation__link" href="/rozcestnik/">Rozcestník</a></li>
            <li class="navigation__item"><a class="navigation__link" href="/zaznam-cesty/">Záznam cesty</a></li>
            <li class="navigation__item"><a class="navigation__link" href="/kontakt/">Kontakt</a></li>
        </ul>
    </nav>
</header>