@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


.footer {
    padding-top: clamp(2rem, 8vw, 4rem);
    padding-bottom: clamp(2rem, 8vw, 3.8rem);
}

.contacts {
    &__icon {
        &:hover {
            transform: scale(1.1);
        }
    }
}
