@use '../abstracts/variables' as v;

.btn {
    display: inline-block;
    font-family: v.$font-special;
    color: v.$color-background;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2vw, 1rem);
    letter-spacing: 0.3125rem;
    padding: 10px 25px;
    border: 2px solid v.$color-background;
    line-height: 1.4;
    font-weight: 500;

    &:hover {
        color: v.$color-primary;
        border: 2px solid v.$color-primary;
        transform: scale(1.1);
    }


    &--primary {
        color: v.$color-secondary;
        background-color: v.$color-primary;
        border: 2px solid v.$color-secondary;

        &:hover {
            color: v.$color-primary;
            background-color: v.$color-secondary;
            border: 2px solid v.$color-secondary;
            font-weight: 700;
            transform: scale(1.1);
        }
    }

    &--dark {
        color: v.$color-primary;
        border: 2px solid v.$color-primary;
        background-color: v.$color-quartiary;

        &:hover {
            color: v.$color-quartiary;
            background-color: v.$color-primary;
            border: 2px solid v.$color-primary;
            transform: scale(1.1);
        }
    }

}