@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


.form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: v.$spacer;
    padding-bottom: v.$spacer-double;

    &__group {
        margin-bottom: v.$spacer;
    }

    &__label {
        display: block;
        margin-top: v.$spacer;
        margin-bottom: 3px;
        font-size: clamp(1.2rem, 3vw, 1.4rem);
        font-weight: 400;
    }

    &__input {
        font-family: v.$font-body;
        font-size: clamp(1.2rem, 3vw, 1.4rem);
        font-weight: 500;
        width: 100%;
        height: 2.5rem;
        border: 2px solid v.$color-background;

        &:focus {
            color: v.$color-primary;
            background-color: beige;
            outline: none;
            border: 2px solid v.$color-primary;
        }
    }

    &__textarea {
        font-size: clamp(1.3rem, 4vw, 1.6rem);
        width: 100%;
        border: 2px solid v.$color-background;

        &:focus {
            color: v.$color-primary;
            background-color: beige;
            outline: none;
            border: 2px solid v.$color-primary;
        }
    }
}