
// COLORS

$color-primary: #032336;

$color-secondary: #F56767;

$color-tertiary: #35736D;

$color-quartiary: #E29F5B;

$color-background: #FEF6E1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #999;
$color-grey-dark-2: #444;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONTS

$font-body: 'Anonymous Pro', monospace;      // 400, 700
$font-special: 'Baumans', cursive;           // 400 nadpisy
$font-special-2: 'Dosis', sans-serif;        // 400

// SPACERS

$spacer-half: 0.625rem;
$spacer: 1.25rem;
$spacer-double: 2.5rem;
$spacer-medium: 3.75rem;
$spacer-large: 5rem;